{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
    <h1>Liste des Catégories</h1>

    <a href="{{ path('app_category_new') }}" class="btn btn-primary mb-3">Ajouter une Catégorie</a>

    <form method="get" action="{{ path('app_category_index') }}" class="d-flex flex-wrap gap-2 align-items-start">
        <div>
            <input type="text" id="search" name="search" class="form-control mb-2" value="{{ app.request.get('search') }}" placeholder="Recherche.....">
        </div>
    
        <button type="submit" class="btn btn-primary mb-2">Filtrer</button>
    </form>

    {% if categories|length > 0 %}
        <p>{{ categories|length }} catégorie(s) trouvé(s).</p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Couleur</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Modifier</th>
                    <th>Afficher</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <div class="d-inline-block p-2 rounded" style="background-color: {{ category.color }}; color: {{ category.getInvertedColor() }};">
                        {{ category.color }}
                    </div>
                </td>
                {% if is_granted('ROLE_USER') %}
                    <td><a href="{{ path('app_category_edit', { id: category.id }) }}" class="btn btn-secondary btn-sm">Modifier</a></td>
                    <td><a href="{{ path('app_category_show', { id: category.id }) }}" class="btn btn-success btn-sm">Afficher</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune catégorie trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "utils/_pagination.html.twig" with {'route': 'app_category_index', 'pageCount': pageCount, 'currentPage': currentPage} %}
{% endblock %}
