{% extends 'base.html.twig' %}

{% block title %}Liste des Parks{% endblock %}

{% block body %}
    <h1>Liste des Parks</h1>

    <a href="{{ path('app_park_new') }}" class="btn btn-primary mb-3">Ajouter un Park</a>

    <form method="get" action="{{ path('app_park_index') }}" class="d-flex flex-wrap gap-2 align-items-start">
        <div>
            <input type="text" id="search" name="search" class="form-control mb-2" value="{{ app.request.get('search') }}" placeholder="Recherche.....">
        </div>
    
        <div>
            <select name="pays" id="pays" class="form-control mb-2">
                <option value="">Tous les pays</option>
                {% for country in allCountries %}
                    <option value="{{ country.country }}" {% if country.country == app.request.get('pays') %} selected {% endif %}>
                        {{ country.country }}
                    </option>
                {% endfor %}
            </select>            
        </div>
    
        <button type="submit" class="btn btn-primary mb-2">Filtrer</button>
    </form>

    {% if parks|length > 0 %}
        <p>{{ parks|length }} park(s) trouvé(s).</p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Pays</th>
                <th>Année d'ouverture</th>
                <th>Nombre de coasters</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Modifier</th>
                    <th>Afficher</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for park in parks %}
            <tr>
                <td>{{ park.id }}</td>
                <td>{{ park.name }}</td>
                <td>{{ park.country }}</td>
                <td>{{ park.openingYear }}</td>
                <td>{{ park.coasters|length }}</td>
                {% if is_granted('ROLE_USER') %}
                    <td><a href="{{ path('app_park_edit', { id: park.id }) }}" class="btn btn-secondary btn-sm">Modifier</a></td>
                    <td><a href="{{ path('app_park_show', { id: park.id }) }}" class="btn btn-success btn-sm">Afficher</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">Aucun park trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "utils/_pagination.html.twig" with {'route': 'app_park_index', 'pageCount': pageCount, 'currentPage': currentPage} %}
{% endblock %}
