{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <a href="{{ path('app_user_new') }}" class="btn btn-primary mb-3">Ajouter un Utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Roles</th>
                <th>Email</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Modifier</th>
                    <th>Supprimer</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.email }}</td>
                {% if is_granted('ROLE_USER') %}
                    <td><a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn btn-secondary btn-sm">Modifier</a></td>
                    <td><a href="{{ path('app_user_show', { id: user.id }) }}" class="btn btn-success btn-sm">Afficher</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
