{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <form method="get" action="{{ path('app_user_index') }}" class="d-flex flex-wrap gap-2 align-items-start">
        <div>
            <input type="text" id="search" name="search" class="form-control mb-2" value="{{ app.request.get('search') }}" placeholder="Recherche.....">
        </div>

        <div>
            <select name="role" id="role" class="form-control mb-2">
                <option value="">Tous les rôles</option>
                <option value="ROLE_USER" {% if app.request.get('role') == 'ROLE_USER' %} selected {% endif %}>Utilisateur</option>
                <option value="ROLE_ADMIN" {% if app.request.get('role') == 'ROLE_ADMIN' %} selected {% endif %}>Admin</option>
            </select>
        </div>
    
        <button type="submit" class="btn btn-primary mb-2">Filtrer</button>
    </form>
    
    {% if users|length > 0 %}
        <p>{{ users|length }} utilisateur(s) trouvé(s).</p>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom d'utilisateur</th>
                <th>Roles</th>
                <th>Email</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Modifier</th>
                    <th>Afficher</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.email }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td><a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn btn-secondary btn-sm">Modifier</a></td>
                    <td><a href="{{ path('app_user_show', { id: user.id }) }}" class="btn btn-success btn-sm">Afficher</a></td>
                {% elseif is_granted('ROLE_USER') %}
                    {% if user.id == app.user.id %}
                        <td><a href="{{ path('app_user_edit', { id: user.id }) }}" class="btn btn-secondary btn-sm">Modifier</a></td>
                        <td><a href="{{ path('app_user_show', { id: user.id }) }}" class="btn btn-success btn-sm">Afficher</a></td>
                    {% else %}
                        <td><a href="#" class="btn btn-danger btn-sm">Admin</a></td>
                        <td><a href="#" class="btn btn-danger btn-sm">Admin</a></td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "utils/_pagination.html.twig" with {'route': 'app_user_index', 'pageCount': pageCount, 'currentPage': currentPage} %}
{% endblock %}
